<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ proveedor.id ? proveedor.nombre :'Agregar Proveedor' | titlecase }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Proveedores</li>
            <li class="breadcrumb-item active" aria-current="page">Agregar Proveedor</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Información del proveedor</h6>
                </div>
                <div class="card-body">
                    <form ngNativeValidate (submit)="save()">
                        <div class="row">
                            <div class="form-group col-4">
                                <label for="nombre">Nombre</label>
                                <input id="nombre" placeholder="Ingrese nombre del cliente" name="nombre"
                                    [ngClass]="{'is-valid':proveedor.nombre,'form-control':proveedor }" type="text"
                                    [(ngModel)]="proveedor.nombre" required>
                            </div>
                            <div class="form-group col-4">
                                <label for="direccion">Dirección</label>
                                <input id="direccion" name="direccion" type="text"
                                    placeholder="Ingrese direccion del proveedor"
                                    [ngClass]="{'is-valid':proveedor.direccion,'form-control':proveedor }"
                                    [(ngModel)]="proveedor.direccion">
                            </div>

                            <div class="form-group col-4">
                                <label for="telefono">Teléfono</label>
                                <input id="telefono" type="number" name="telefono"
                                    placeholder="Ingrese telefono del proveedor"
                                    [ngClass]="{'is-valid':proveedor.telefono,'form-control':proveedor }"
                                    [(ngModel)]="proveedor.telefono">
                            </div>

                            <div class="form-group col-4">
                                <label for="contacto">Contacto</label>
                                <input id="contacto" name="contacto" type="text"
                                    placeholder="Ingrese contacto del proveedor"
                                    [ngClass]="{'is-valid':proveedor.contacto,'form-control':proveedor }"
                                    [(ngModel)]="proveedor.contacto">

                            </div>
                            <div class="form-group col-4">
                                <label for="rfc">RFC</label>
                                <input id="rfc" name="rfc" type="number" placeholder="Ingrese RFC del proveedor"
                                    [ngClass]="{'is-valid':proveedor.rfc,'form-control':proveedor }"
                                    [(ngModel)]="proveedor.rfc">
                            </div>
                            <div class="form-group col-4">
                                <label for="nota">Nota</label>
                                <input id="nota" name="nota" type="number" placeholder="Ingrese nota"
                                    [ngClass]="{'is-valid':proveedor.nota,'form-control':proveedor }"
                                    [(ngModel)]="proveedor.nota">
                            </div>
                            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                        </div>
                        <div class=" text-right">
                            <button type="submit" [disabled]="is_loading"
                                class="waves-effect waves-light btn-success btn icon-size-1 text-right"><i
                                    class="fa fa-save icon-size-1"></i> Guardar</button>

                        </div>
                    </form>


                </div>
            </div>
        </div>



        <!--Row-->

        <!-- Documentation Link -->
        <div class="row">
            <div class="col-lg-12 text-center">

            </div>
        </div>

    </div>
</div>
