<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Servicios</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="./">Home</a></li>
			<li class="breadcrumb-item">Servicios</li>
			<li class="breadcrumb-item active" aria-current="page">Lista Servicios</li>
		</ol>
	</div>

	<!-- Row -->
	<div class="row">

		<!-- DataTable with Hover -->
		<div class="col-lg-12">
			<div class="card mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Lista Servicios</h6>
					<div>

						<button type="button" class="btn-warning btn mr-1" (click)="show_import=true"><i
								class="fas fa-file-import"></i> Importar</button>
						<button type="button" class="btn-success btn " [routerLink]="['/add-servicio']"><i
								class="fa fa-plus"></i> Agregar Servicio</button>
					</div>

				</div>

				<div class="table-responsive p-3">
					<table class="table align-items-center table-flush table-hover" id="dataTableHover">
						<thead class="thead-light">
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Codigo</th>
								<th>Costo</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Codigo</th>
								<th>Costo</th>
								<th>Acciones</th>
							</tr>
						</tfoot>
						<tbody>
							<tr *ngFor="let servicio of servicio_list">
								<td><a [routerLink]="['/edit-usuario',servicio.id]">{{servicio.id}}</a></td>
								<td>{{servicio.nombre}}</td>
								<td>{{servicio.codigo}}</td>
								<td>{{servicio.costo}}</td>

								<td>
									<a class="waves-effect waves-light btn-success btn icon-size-1"
										[routerLink]="['/edit-servicio',servicio.id]"><i class="fas fa-edit"></i></a>
								</td>
							</tr>
							<tr *ngIf="servicio_list == null || servicio_list.length == 0 && !is_loading"
								colspan="TEMPLATE_HEADERS_SIZE">
								<td colspan="8" class="text-center">
									<div class="alert alert-light m-3" role="alert">No elements found</div>

								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer">
					<div class="row ">
						<div class="col-sm-12 col-md-6 ">
							<div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1
								to 10 of
								57 entries</div>
						</div>
						<div class="col-sm-12 col-md-6 text-center">
							<div class="dataTables_paginate paging_simple_numbers text-right" id="dataTable_paginate">
								<ul class="pagination">
									<li class="paginate_button page-item previous disabled" id="dataTable_previous"><a
											href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0"
											class="page-link">Previous</a></li>
									<li class="paginate_button page-item active"><a href="#" aria-controls="dataTable"
											data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
									<li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
											data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
									<li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
											data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
									<li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
											data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
									<li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
											data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
									<li class="paginate_button page-item "><a href="#" aria-controls="dataTable"
											data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
									<li class="paginate_button page-item next" id="dataTable_next"><a href="#"
											aria-controls="dataTable" data-dt-idx="7" tabindex="0"
											class="page-link">Next</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!--Row-->

	<!-- Documentation Link -->
	<div class="row">
		<div class="col-lg-12">
			<!-- <p>DataTables is a third party plugin that is used to generate the demo table below. For more information
                about DataTables, please visit the official <a href="https://datatables.net/" target="_blank">DataTables
                    documentation.</a></p> -->
		</div>
	</div>






	<app-modal [(show)]="show_import">
		<div class="card p-3">
			<h2>Import excel</h2>
			<div class="from-group mb-3">
				<label>Excel data</label>
				<input name="file" type="file" (change)="onFileChanged($event)" accept="*/*" class="form-control">
			</div>
			<div class="row mt-3">
				<div class="col-6">
					<button type="button" class="btn btn-secondary w-100" (click)="show_import=false">Cancel</button>
				</div>
				<div class="col-6">
					<button type="button" class="btn btn-primary w-100" (click)="uploadFile()"
						[disabled]="file==null">Upload</button>
				</div>
			</div>
		</div>
	</app-modal>
