<!-- TopBar -->
<nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
          aria-labelledby="searchDropdown">
          <form class="navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <span class="badge badge-danger badge-counter">3+</span>
        </a>
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
          aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">
            Alerts Center
          </h6>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="icon-circle bg-primary">
                <i class="fas fa-file-alt text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">December 12, 2019</div>
              <span class="font-weight-bold">A new monthly report is ready to download!</span>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="icon-circle bg-success">
                <i class="fas fa-donate text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">December 7, 2019</div>
              $290.29 has been deposited into your account!
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="icon-circle bg-warning">
                <i class="fas fa-exclamation-triangle text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">December 2, 2019</div>
              Spending Alert: We've noticed unusually high spending for your account.
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <span class="badge badge-warning badge-counter">2</span>
        </a>
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
          aria-labelledby="messagesDropdown">
          <h6 class="dropdown-header">
            Message Center
          </h6>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="assets/img/man.png" style="max-width: 60px" alt="">
              <div class="status-indicator bg-success"></div>
            </div>
            <div class="font-weight-bold">
              <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                having.</div>
              <div class="small text-gray-500">Udin Cilok · 58m</div>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="assets/img/girl.png" style="max-width: 60px" alt="">
              <div class="status-indicator bg-default"></div>
            </div>
            <div>
              <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people
                say this to all dogs, even if they aren't good...</div>
              <div class="small text-gray-500">Jaenab · 2w</div>
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-tasks fa-fw"></i>
          <span class="badge badge-success badge-counter">3</span>
        </a>
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
          aria-labelledby="messagesDropdown">
          <h6 class="dropdown-header">
            Task
          </h6>
          <a class="dropdown-item align-items-center" href="#">
            <div class="mb-3">
              <div class="small text-gray-500">Design Button
                <div class="small float-right"><b>50%</b></div>
              </div>
              <div class="progress" style="height: 12px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </a>
          <a class="dropdown-item align-items-center" href="#">
            <div class="mb-3">
              <div class="small text-gray-500">Make Beautiful Transitions
                <div class="small float-right"><b>30%</b></div>
              </div>
              <div class="progress" style="height: 12px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </a>
          <a class="dropdown-item align-items-center" href="#">
            <div class="mb-3">
              <div class="small text-gray-500">Create Pie Chart
                <div class="small float-right"><b>75%</b></div>
              </div>
              <div class="progress" style="height: 12px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">View All Taks</a>
        </div>
      </li>
      <div class="topbar-divider d-none d-sm-block"></div>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img class="img-profile rounded-circle" src="assets/img/boy.png" style="max-width: 60px">
          <span class="ml-2 d-none d-lg-inline text-white small">Maman Ketoprak</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profile
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Settings
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
            Activity Log
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <!-- Topbar -->




<!--
<nav class="navbar navbar-default top-navbar d-print-none" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
			data-target=".sidebar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand waves-effect waves-dark" href="index.html"><i
				class="large material-icons">donut_large</i> <strong>Integranet</strong></a>

		<div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
	</div>

	<ul class="nav navbar-top-links navbar-right">
		<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i
					class="fa fa-envelope fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a>
		</li>
		<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown3"><i
					class="fa fa-tasks fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
		<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i
					class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
		<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i
					class="fa fa-user fa-fw"></i> <b>Daniboi :)</b> <i
					class="material-icons right">arrow_drop_down</i></a></li>
	</ul>
</nav>
 Dropdown Structure <ul id="dropdown1" class="dropdown-content d-print-none">
	<li><a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
	</li>
	<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
	</li>
	<li><a (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
	</li>
</ul>
<ul id="dropdown2" class="dropdown-content w250 d-print-none">
	<li>
		<a href="#">
			<div>
				<i class="fa fa-comment fa-fw"></i> New Comment
				<span class="pull-right text-muted small">4 min</span>
			</div>
		</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="#">
			<div>
				<i class="fa fa-twitter fa-fw"></i> 3 New Followers
				<span class="pull-right text-muted small">12 min</span>
			</div>
		</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="#">
			<div>
				<i class="fa fa-envelope fa-fw"></i> Message Sent
				<span class="pull-right text-muted small">4 min</span>
			</div>
		</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="#">
			<div>
				<i class="fa fa-tasks fa-fw"></i> New Task
				<span class="pull-right text-muted small">4 min</span>
			</div>
		</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="#">
			<div>
				<i class="fa fa-upload fa-fw"></i> Server Rebooted
				<span class="pull-right text-muted small">4 min</span>
			</div>
		</a>
	</li>
	<li class="divider"></li>
	<li>
		<a class="text-center" href="#">
			<strong>See All Alerts</strong>
			<i class="fa fa-angle-right"></i>
		</a>
	</li>
</ul>
<ul id="dropdown3" class="dropdown-content dropdown-tasks w250 d-print-none">
	<li>
		<a href="#">
			<div>
				<p>
					<strong>Task 1</strong>
					<span class="pull-right text-muted">60% Complete</span>
				</p>
				<div class="progress progress-striped active">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 60%">
						<span class="sr-only">60% Complete (success)</span>
					</div>
				</div>
			</div>
		</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="#">
			<div>
				<p>
					<strong>Task 2</strong>
					<span class="pull-right text-muted">28% Complete</span>
				</p>
				<div class="progress progress-striped active">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0"
						aria-valuemax="100" style="width: 28%">
						<span class="sr-only">28% Complete</span>
					</div>
				</div>
			</div>
		</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="#">
			<div>
				<p>
					<strong>Task 3</strong>
					<span class="pull-right text-muted">60% Complete</span>
				</p>
				<div class="progress progress-striped active">
					<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 60%">
						<span class="sr-only">60% Complete (warning)</span>
					</div>
				</div>
			</div>
		</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="#">
			<div>
				<p>
					<strong>Task 4</strong>
					<span class="pull-right text-muted">85% Complete</span>
				</p>
				<div class="progress progress-striped active">
					<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85"
						aria-valuemin="0" aria-valuemax="100" style="width: 85%">
						<span class="sr-only">85% Complete (danger)</span>
					</div>
				</div>
			</div>
		</a>
	</li>
	<li class="divider"></li>
	<li>
</ul>
<ul id="dropdown4" class="dropdown-content dropdown-tasks w250 taskList d-print-none">
	<li>
		<a href="#">
			<div>
				<strong>John Doe</strong>
				<span class="pull-right text-muted">
					<em>Today</em>
				</span>
			</div>
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
		</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="#">
			<div>
				<strong>John Smith</strong>
				<span class="pull-right text-muted">
					<em>Yesterday</em>
				</span>
			</div>
			<p>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</p>
		</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="#">
			<div>
				<strong>John Smith</strong>
				<span class="pull-right text-muted">
					<em>Yesterday</em>
				</span>
			</div>
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the...</p>
		</a>
	</li>
	<li class="divider"></li>
	<li>
		<a class="text-center" href="#">
			<strong>Read All Messages</strong>
			<i class="fa fa-angle-right"></i>
		</a>
	</li>
</ul> -->

<!--/. NAV TOP  -->
<!-- <nav class="navbar-default navbar-side d-print-none" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="main-menu">

			<li>
				<a class="active-menu waves-effect waves-dark" href="index.html"><i class="fa fa-dashboard"></i>
					Dashboard</a>
			</li>
			<li>
				<a href="ui-elements.html" class="waves-effect waves-dark" [routerLink]="['/list-usuario']"><i
						class="fa fa-users"></i> Usuarios</a>
			</li>
			<li>
				<a href="ui-elements.html" class="waves-effect waves-dark" [routerLink]="['/list-cliente']"><i
						class="fa fa-users"></i> Clientes</a>
			</li>
			<li>
				<a href="ui-elements.html" class="waves-effect waves-dark" [routerLink]="['/list-proveedor']"><i
						class="fa fa-users"></i> Proveedores</a>
			</li>
			<li>
				<a href="ui-elements.html" class="waves-effect waves-dark" [routerLink]="['/list-servicio']"><i
						class="fa fa-list"></i> Servicio</a>
			</li>
			<li>
				<a href="ui-elements.html" class="waves-effect waves-dark" [routerLink]="['/list-cotizacion']"><i
						class="fa fa-files-o"></i> Cotización</a>
			</li> -->
			<!-- <li>
				<a href="chart.html" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i>
					Charts</a>
			</li>
			<li>
				<a href="tab-panel.html" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i> Tabs &
					Panels</a>
			</li>

			<li>
				<a href="table.html" class="waves-effect waves-dark"><i class="fa fa-table"></i> Responsive
					Tables</a>
			</li>
			<li>
				<a href="form.html" class="waves-effect waves-dark"><i class="fa fa-edit"></i> Forms </a>
			</li> -->

<!--
			<li>
				<a href="#" class="waves-effect waves-dark"><i class="fa fa-cogs"></i> Config<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a [routerLink]="['/list-servicio-categoria']">Categoria Servicio</a>
					</li>
					<li>
						<a [routerLink]="['/list-unidad-de-medida']">Unidad de Medida</a>
					</li> -->
					<!-- <li>
						<a href="#">Second Level Link<span class="fa arrow"></span></a>
						<ul class="nav nav-third-level">
							<li>
								<a href="#">Third Level Link</a>
							</li>
							<li>
								<a href="#">Third Level Link</a>
							</li>
							<li>
								<a href="#">Third Level Link</a>
							</li>

						</ul>

					</li> -->
				<!-- </ul>
			</li> -->
			<!-- <li>
				<a href="empty.html" class="waves-effect waves-dark"><i class="fa fa-fw fa-file"></i> Empty
					Page</a>
			</li> -->
		<!-- </ul>

	</div>

</nav> -->
