<div class="header">
	<h2 class="page-header">
		{{ cotizacion_info.cotizacion.id ? 'Folio: '+cotizacion_info.cotizacion.id :'Agregar Cotizacion' | titlecase
		}}
	</h2>
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">cotizaciones</a></li>
		<li class="active">{{cotizacion_info.cotizacion.id? 'Editar':'Crear'}}</li>
	</ol>

</div>
<div id="page-inner">


	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-action">
					Información de la cotizacion
				</div>
				<div class="card-content">
					<form ngNativeValidate (submit)="save()" class="col s12">
						<div class="row">
							<div class=" col s3">
								<label for="id_cliente">Cliente</label>
								<select class="form-control" name="id_cliente"
									[(ngModel)]="cotizacion_info.cotizacion.id_cliente">
									<option [value]="null" hidden>Seleccione una opcion</option>
									<option *ngFor="let cliente of cliente_list" [value]="cliente.id">
										{{cliente_diccionario[cliente.id].nombre}}</option>
								</select>
							</div>

							<div class=" col s3">
								<label for="tipo_de_pago">Tipo de pago</label>

								<select class="form-control" name="tipo_de_pago"
								[(ngModel)]="cotizacion_info.cotizacion.tipo_de_pago">
									<option [value]="null" hidden>Seleccione una opcion</option>
									<option [value]="'CONTADO'" >CONTADO</option>
									<option [value]="'TARJETA_DE_CREDITO'" >TARJETA DE CREDITO</option>
									<option [value]="'TARJETA_DE_DEBITO'" >TARJETA DE DEBITO</option>
									<option [value]="'CHEQUE'" >CHEQUE</option>
									<!-- <option *ngFor="let cliente of cliente_list" [value]="cliente.id">
										{{cliente_diccionario[cliente.id].nombre}}</option> -->
								</select>
							</div>
							<div class=" col s2">
								<label for="atencion">Atencion </label>
								<input id="atencion" placeholder="A quien se dirige" name="atencion" type="text" class="validate"
									[(ngModel)]="cotizacion_info.cotizacion.atencion">
							</div>

							<div class=" col s2">
								<label for="vigencia">Vigencia (Dias) </label>
								<input id="vigencia" placeholder="Vigencia en dias" name="vigencia" type="number" class="validate"
									[(ngModel)]="cotizacion_info.cotizacion.vigencia">
							</div>
							<div class=" col s2">
								<label for="anticipo">Anticipo (%)</label>
								<input id="anticipo" placeholder="Porcentaje de anticipo" name="anticipo" type="number" class="validate"
									[(ngModel)]="cotizacion_info.cotizacion.anticipo">
							</div>

						</div>
						<div class="row">


							<div class=" col s3">
								<label for="flete">Flete</label>
								<input id="flete" name="flete" type="number" class="validate"
									[(ngModel)]="cotizacion_info.cotizacion.flete" (change)="calcularTotalCotizacion()" >
							</div>
							<div class=" col s3">
								<label for="iva">Iva</label>
								<input id="iva" name="iva" type="number" class="validate"
									[(ngModel)]="cotizacion_info.cotizacion.iva" (change)="calcularTotalCotizacion()">
							</div>
							<div class=" col s3">
								<label for="costo">Subtotal</label>
								<input id="costo" name="costo" type="number" class="validate" disabled
									[(ngModel)]="cotizacion_info.cotizacion.costo">
							</div>
							<div class=" col s3">
								<label for="costo_total">Costo Total</label>
								<input id="costo_total" name="costo_total" type="number" class="validate" disabled
									[(ngModel)]="cotizacion_info.cotizacion.costo_total">
							</div>
							<div class=" col s4">
								<!-- <label for="telefono">Telefono</label>
								<input id="telefono" type="number" name="telefono" class="validate"
									[(ngModel)]="cotizacion.telefono"> -->
							</div>
							<div class=" col s4">
								<!-- <label for="contacto">contacto</label>
								<input id="contacto" type="text" name="contacto" class="validate"
									[(ngModel)]="cotizacion.contacto"> -->
							</div>
							<div class=" col s4">
								<!-- <label for="rfc">RFC</label>
								<input id="rfc" name="rfc" type="text" class="validate" [(ngModel)]="cotizacion.rfc"> -->

							</div>

						</div>
						<div class="row">
							<!-- <div class=" col s12">
								<label for="nota">Nota</label>
								<textarea id="nota" name="nota" type="text" class="validate"
									[(ngModel)]="cotizacion.nota"></textarea>
							</div> -->


						</div>
						<div class="row">
							<!-- <div class=" col s12">
								<label for="nota">Nota</label>
								<textarea id="nota" name="nota" type="text" class="validate"
									[(ngModel)]="cotizacion.nota"></textarea>
							</div> -->

						</div>
						<div class="row p-3">
							<div class="col-12 text-right">
								<button type="submit" [disabled]="is_loading"
									class="waves-effect waves-light btn-success btn btn-success"><i
									class="icon-size-1 material-icons">save</i> Guardar</button>
							</div>
						</div>

					</form>
					<div class="clearBoth"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="card">
		<div class="card-action">
			<div class="row text-left">
				<ng-container>
					<div class="col s6 p-0 m-0">
						<!-- <label for="nota">Buscar Servicio</label> -->
						<form class="example-form">
							<div class="">
								Productos
							</div>
							<input type="text" placeholder="Buscar productos" [formControl]="control"
								[matAutocomplete]="auto" (keyup)="changeSearchServicio($event)">
							<mat-autocomplete #auto="matAutocomplete">
								<mat-option *ngFor="let servicio of search_servicios"
									(click)="agregarServicio(servicio)">
									{{servicio.nombre}}

								</mat-option>
							</mat-autocomplete>
						</form>
					</div>
				</ng-container>
			</div>
		</div>

		<div class="card-content ">
			<div class="table-responsive">

				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Cantidad</th>
							<th>Precio</th>
							<th class="text-center">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let cotizacion_detalle of cotizacion_info.cotizacion_detalles;let i=index">
							<!-- <td><a [routerLink]="['/edit-usuario',cotizacion.id]">{{cotizacion.id}}</a></td> -->
							<td>{{cotizacion_detalle.servicio.nombre}}</td>
							<td>
								<input type="text" [name]="'cantidad_'+i"
									[(ngModel)]="cotizacion_detalle.cotizacion_detalle.cantidad"
									(change)="aumentarCantidad(cotizacion_detalle)">
							</td>
							<td>
								<input type="text" [name]="'precio_'+i"
									[(ngModel)]="cotizacion_detalle.cotizacion_detalle.precio"
									(change)="aumentarPrecio(cotizacion_detalle)">

							</td>
							<!-- <td>{{cotizacion.costo}}</td> -->
							<!-- <td>{{co
								tizacion.flete}}</td>
							<td>{{cotizacion.iva}}</td>
							<td>{{cotizacion.costo_total}}</td>
							<td>{{cotizacion.nota}}</td>
							<td>{{cotizacion.fecha_de_entrega}}</td>
							<td>{{cotizacion.estado}}</td> -->
							<td class="text-center">
								<button class="waves-effect waves-light btn-danger btn btn-sm"
									(click)="eliminar(cotizacion_detalle)"><i
										class="icon-size-1 material-icons">close</i></button>
							</td>
						</tr>
						<tr *ngIf="cotizacion_info == null || cotizacion_info.cotizacion_detalles.length == 0 && !is_loading"
							colspan="TEMPLATE_HEADERS_SIZE">
							<td colspan="4" class="text-center">
								<div class="alert alert-light m-3" role="alert">No elements found</div>

							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<app-pagination [path]="'/list-proveedor'" [pages]="pages" [totalPages]="totalPages"
				[currentPage]="currentPage">
			</app-pagination>
			<footer>
				<!-- <p>All right reserved. Template by: <a
						href="https://webthemez.com/admin-template/">WebThemez.com</a></p> -->
			</footer>
		</div>
	</div>
	<!--
	<div class="col-6 col-md-4">
		<label class="">cotizacion</label>
		<input type="text" name="usuario" [(ngModel)]="usuario.usuario" class="form-control">
	</div>
	<div class="col-6 col-md-4">
		<label class="">Nombre</label>
		<input type="text" name="nombre" [(ngModel)]="usuario.nombre" class="form-control">
	</div>

	<div class="col-6 col-md-4">
		<label class="">Tipo</label>
		<select name="tipo" [(ngModel)]="usuario.tipo" class="form-control">
			<option [ngValue]="null">Select</option>
			<option value="PACIENTE">PRODUCCION</option>
			<option value="RECEPCIONISTA">RECEPCION</option>
			<option value="ADMIN">ADMIN</option>
		</select>
	</div>

	<div class="col-6 col-md-4">
		<label class="">Contrasena</label>
		<input type="text" name="contrasena" [(ngModel)]="usuario.contrasena" class="form-control">
	</div>
	<div class="col-6 col-md-4">
		<label class="">Telefono</label>
		<input type="text" name="telefono" [(ngModel)]="usuario.telefono" class="form-control">
	</div>
	<div class="col-6 col-md-4">
		<label class="">Correo electronico</label>
		<input type="text" name="correo_electronico" [(ngModel)]="usuario.correo_electronico" class="form-control">
	</div>


</div>

</div>
</form> -->

	<footer>
		<!-- <p>All right reserved. Template by: <a href="https://webthemez.com/admin-template/">WebThemez.com</a></p> -->
	</footer>
</div>
