<div class="header">


	<h2 class="page-header">
		{{ cotizacion_info.cotizacion.id ? 'Folio: '+cotizacion_info.cotizacion.id :'Agregar Cotizacion' | titlecase
		}}
	</h2>
	<!-- <ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">cotizaciones</a></li>
			<li class="active">{{cotizacion_info.cotizacion.id? 'Editar':'Crear'}}</li>
		</ol> -->



</div>

<div id="page-inner">
	<!-- <mat-card class="example-card ">
		<mat-card-header> -->
			<!-- <div mat-card-avatar class="example-header-image"></div> -->

			<!-- <mat-card-title>Informacion de la cotización</mat-card-title> -->
			<!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->

		<!-- </mat-card-header> -->
		<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
		<!-- <mat-card-content> -->
			<form ngNativeValidate id="cotizacionForm" (submit)="save()" class="col s12">
				<div class="row">
					<div class="col s6 m3">
						<label for="id_cliente">Cliente</label>
						<select class="form-control" name="id_cliente"
							[(ngModel)]="cotizacion_info.cotizacion.id_cliente">
							<option [value]="null" hidden>Seleccione una opcion</option>
							<option *ngFor="let cliente of cliente_list" [value]="cliente.id">
								{{cliente_diccionario[cliente.id].nombre}}</option>
						</select>
					</div>

					<div class=" col s3">
						<label for="tipo_de_pago">Tipo de pago</label>

						<select class="form-control" name="tipo_de_pago"
							[(ngModel)]="cotizacion_info.cotizacion.tipo_de_pago">
							<option [value]="null" hidden>Seleccione una opcion</option>
							<option [value]="'CONTADO'">CONTADO</option>
							<option [value]="'TARJETA_DE_CREDITO'">TARJETA DE CREDITO</option>
							<option [value]="'TARJETA_DE_DEBITO'">TARJETA DE DEBITO</option>
							<option [value]="'CHEQUE'">CHEQUE</option>
							<!-- <option *ngFor="let cliente of cliente_list" [value]="cliente.id">
								{{cliente_diccionario[cliente.id].nombre}}</option> -->
						</select>
					</div>
					<div class=" col s2">
						<label for="atencion">Atencion </label>
						<input id="atencion" placeholder="A quien se dirige" name="atencion" type="text"
							class="validate" [(ngModel)]="cotizacion_info.cotizacion.atencion">
					</div>

					<div class=" col s2">
						<label for="vigencia">Vigencia (Dias) </label>
						<input id="vigencia" placeholder="Vigencia en dias" name="vigencia" type="number"
							class="validate" [(ngModel)]="cotizacion_info.cotizacion.vigencia">
					</div>
					<div class=" col s2">
						<label for="anticipo">Anticipo (%)</label>
						<input id="anticipo" placeholder="Porcentaje de anticipo" name="anticipo" type="number"
							class="validate" [(ngModel)]="cotizacion_info.cotizacion.anticipo">
					</div>

				</div>
				<div class="row">


					<div class=" col s3">
						<label for="flete">Flete</label>
						<input id="flete" name="flete" type="number" class="validate"
							[(ngModel)]="cotizacion_info.cotizacion.flete" (change)="calcularTotalCotizacion()">
					</div>
					<!-- <div class=" col s3">
						<label for="iva">Iva</label>
						<input id="iva" name="iva" type="number" class="validate"
							[(ngModel)]="cotizacion_info.cotizacion.iva" (change)="calcularTotalCotizacion()">
					</div> -->
					<div class=" col s3">
						<label for="costo">Subtotal</label>
						<input id="costo" name="costo" type="number" class="validate" disabled
							[(ngModel)]="cotizacion_info.cotizacion.costo">
					</div>
					<div class=" col s3">
						<label for="costo_total">Costo Total</label>
						<input id="costo_total" name="costo_total" type="number" class="validate" disabled
							[(ngModel)]="cotizacion_info.cotizacion.costo_total">
					</div>

				</div>
				<div class="row">
					<div class="col s12 m6">

					</div>
					<div class="col s12 m6 text-right">


						<div class="col s12 m-0 p-0">
							Subtotal:
							<div class="input-field inline m-0 p-0">
								<input value="number:'1.0-0'" type="number: '1.2-4'" name="costo"  [(ngModel)]="cotizacion_info.cotizacion.costo" disabled>
								<!-- <label for="email_inline">Email</label> -->
								<!-- <span class="helper-text" data-error="wrong" data-success="right">Helper text</span> -->
							</div>
						</div>
						<div class=" sm-0 p-0" *ngIf="total_iva_8 !== 0">
							iva 8%
							<div class="input-field inline m-0 p-0">
								<input  value="number:'1.0-2'" type="number: '1.2-4'" name="total_iva_8"  [(ngModel)]="total_iva_8" disabled>
								<!-- <label for="email_inline">Email</label> -->
								<!-- <span class="helper-text" data-error="wrong" data-success="right">Helper text</span> -->
							</div>
						</div>
						<div class="col s12 m-0 p-0 " *ngIf="total_iva_16 !== 0">
							iva 16%
							<div class="input-field inline m-0 p-0">
								<input   value="number:'1.0-0'" type="number: '1.2-4'" name="total_iva_16"  [(ngModel)]="total_iva_16" disabled>
								<!-- <label for="email_inline">Email</label> -->
								<!-- <span class="helper-text" data-error="wrong" data-success="right">Helper text</span> -->
							</div>
						</div>
						<div class="col s12 m-0 p-0">
							Total
							<div class="input-field inline m-0 p-0">
								<input   value="number:'1.0-0'" type="number: '1.2-4'" name="costo_total"  [(ngModel)]="cotizacion_info.cotizacion.costo_total" disabled>
								<!-- <label for="email_inline">Email</label> -->
								<!-- <span class="helper-text" data-error="wrong" data-success="right">Helper text</span> -->
							</div>
						</div>


					</div>

				</div>

			</form>
		<!-- </mat-card-content>
		<mat-card-actions class="right-align">
			<button type="submit" form="cotizacionForm" [disabled]="is_loading"
				class="waves-effect waves-light btn-success btn btn-success"><i
					class="icon-size-1 material-icons">save</i> Guardar</button>
		</mat-card-actions>
	</mat-card> -->
	<!-- Agregar Productos -->
	<!-- <mat-divider></mat-divider> -->
	<!-- <mat-card class="example-card mt-2 ">
		<mat-card-header> -->
			<!-- <div mat-card-avatar class="example-header-image"></div> -->

			<!-- <mat-card-title>Agregar Productos A la Cotización</mat-card-title> -->
			<!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
<!--
		</mat-card-header> -->
		<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
		<!-- <mat-card-content> -->
			<ng-container>
				<div class=" p-0 m-0">
					<!-- <label for="nota">Buscar Servicio</label> -->
					<form class="">
						<div class="">
							Buscar Productos
						</div>
						<!-- <input type="text" placeholder="Buscar productos" [formControl]="control"
							[matAutocomplete]="auto" (keyup)="changeSearchServicio($event)">
						<mat-autocomplete #auto="matAutocomplete">
							<mat-option *ngFor="let servicio of search_servicios" (click)="agregarServicio(servicio)">
								{{servicio.nombre}}

							</mat-option>
						</mat-autocomplete> -->
					</form>
				</div>
			</ng-container>



			<div class="table-responsive">

				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Cantidad</th>
							<th>Precio</th>
							<th>Iva %</th>
							<th>Iva $</th>
							<th>Total</th>
							<th class="text-center">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let cotizacion_detalle of cotizacion_info.cotizacion_detalles;let i=index">
							<!-- <td><a [routerLink]="['/edit-usuario',cotizacion.id]">{{cotizacion.id}}</a></td> -->
							<td>{{cotizacion_detalle.servicio.nombre}}</td>
							<td>
								<input type="number" [name]="'cantidad_'+i"
									[(ngModel)]="cotizacion_detalle.cotizacion_detalle.cantidad"
									(change)="aumentarCantidad(cotizacion_detalle)">
							</td>
							<td>
								<input class="form-control" type="number" step="0.01" [name]="'precio_'+i"
									[(ngModel)]="cotizacion_detalle.cotizacion_detalle.precio"
									(change)="aumentarPrecio(cotizacion_detalle)">
							</td>

							<td>

								<select class="form-control" name="tipo_de_pago"
									[(ngModel)]="cotizacion_detalle.cotizacion_detalle.iva"
									(change)="aumentarPrecio(cotizacion_detalle)">
									<option [value]="null" hidden>Seleccione el iva</option>
									<option [value]="0">SIN IVA</option>
									<option [value]="8">8</option>
									<option [value]="16">16</option>
									<!-- <option *ngFor="let cliente of cliente_list" [value]="cliente.id">
								{{cliente_diccionario[cliente.id].nombre}}</option> -->
								</select>
								<!-- <input type="number" [name]="'iva_'+i"
							[(ngModel)]="cotizacion_detalle.cotizacion_detalle.iva"
							(change)="aumentarPrecio(cotizacion_detalle)"> -->

							</td>
							<td>
								{{cotizacion_detalle.cotizacion_detalle.costo_iva | number: '1.2-4'}}
							</td>
							<td>
								{{cotizacion_detalle.cotizacion_detalle.costo_total | number: '1.2-4'}}
							</td>
							<!-- <td>{{cotizacion.costo}}</td> -->
							<!-- <td>{{co
						tizacion.flete}}</td>
					<td>{{cotizacion.iva}}</td>
					<td>{{cotizacion.costo_total}}</td>
					<td>{{cotizacion.nota}}</td>
					<td>{{cotizacion.fecha_de_entrega}}</td>
					<td>{{cotizacion.estado}}</td> -->
							<td class="text-center">
								<button class="waves-effect waves-light btn-danger btn btn-sm"
									(click)="eliminar(cotizacion_detalle)"><i
										class="icon-size-1 material-icons">close</i></button>
							</td>
						</tr>
						<tr *ngIf="cotizacion_info == null || cotizacion_info.cotizacion_detalles.length == 0 && !is_loading"
							colspan="TEMPLATE_HEADERS_SIZE">
							<td colspan="7" class="text-center">
								<div class="alert alert-light m-3" role="alert">No elements found</div>

							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<app-pagination [path]="'/list-proveedor'" [pages]="pages" [totalPages]="totalPages"
				[currentPage]="currentPage">
			</app-pagination>
			<footer>
				<!-- <p>All right reserved. Template by: <a
				href="https://webthemez.com/admin-template/">WebThemez.com</a></p> -->
			</footer>
		<!-- </mat-card-content>
	</mat-card> -->


	<!--
	<div class="col-6 col-md-4">
		<label class="">cotizacion</label>
		<input type="text" name="usuario" [(ngModel)]="usuario.usuario" class="form-control">
	</div>
	<div class="col-6 col-md-4">
		<label class="">Nombre</label>
		<input type="text" name="nombre" [(ngModel)]="usuario.nombre" class="form-control">
	</div>

	<div class="col-6 col-md-4">
		<label class="">Tipo</label>
		<select name="tipo" [(ngModel)]="usuario.tipo" class="form-control">
			<option [ngValue]="null">Select</option>
			<option value="PACIENTE">PRODUCCION</option>
			<option value="RECEPCIONISTA">RECEPCION</option>
			<option value="ADMIN">ADMIN</option>
		</select>
	</div>

	<div class="col-6 col-md-4">
		<label class="">Contrasena</label>
		<input type="text" name="contrasena" [(ngModel)]="usuario.contrasena" class="form-control">
	</div>
	<div class="col-6 col-md-4">
		<label class="">Telefono</label>
		<input type="text" name="telefono" [(ngModel)]="usuario.telefono" class="form-control">
	</div>
	<div class="col-6 col-md-4">
		<label class="">Correo electronico</label>
		<input type="text" name="correo_electronico" [(ngModel)]="usuario.correo_electronico" class="form-control">
	</div>


</div>

</div>
</form> -->

	<footer>
		<!-- <p>All right reserved. Template by: <a href="https://webthemez.com/admin-template/">WebThemez.com</a></p> -->
	</footer>
</div>
