<div class="header">
	<h2 class="page-header">
		{{ unidad_de_medida.id ? unidad_de_medida.nombre :'Agregar Unidad De Medida' | titlecase }}
	</h2>
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">Unidades de Medida</a></li>
		<li class="active">{{unidad_de_medida.id? 'Editar':'Crear'}}</li>
	</ol>

</div>
<div id="page-inner">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-action">

					<div class="row">

						<div class="col s6">Información de la Unidad de Medida</div>
						<div class="col s6 text-right">
							<button type="submit" form="unidadDeMedidaForm" [disabled]="is_loading"
								class="waves-effect waves-light btn-success btn icon-size-1"><i
									class="fa fa-save icon-size-1"></i> Guardar</button>
						</div>

					</div>
				</div>
				<div class="card-content">
					<form ngNativeValidate id="unidadDeMedidaForm" (submit)="save()" class="col s12">
						<div class="row">
							<div class=" col s6">
								<label for="nombre">Nombre</label>
								<input placeholder="Nombre de la unidad de medida" id="nombre" name="nombre" type="text" class="validate"
									[(ngModel)]="unidad_de_medida.nombre">

							</div>
							<div class=" col s6">
								<label for="clave">Clave</label>
								<input placeholder="Clave de la unidad de medida" id="clave" name="clave" type="text" class="validate" [(ngModel)]="unidad_de_medida.clave">
							</div>

						</div>
<!--
						<div class="row p-3">
							<div class="col-12 text-right">
								<button type="submit" [disabled]="is_loading" class="waves-effect waves-light btn-success btn icon-size-1"><i class="fa fa-save icon-size-1"></i> Guardar</button>
							</div>
						</div> -->

					</form>
					<div class="clearBoth"></div>
				</div>
			</div>
		</div>
	</div>

	<!--
	<div class="col-6 col-md-4">
		<label class="">unidad_de_medida</label>
		<input type="text" name="usuario" [(ngModel)]="usuario.usuario" class="form-control">
	</div>
	<div class="col-6 col-md-4">
		<label class="">Nombre</label>
		<input type="text" name="nombre" [(ngModel)]="usuario.nombre" class="form-control">
	</div>

	<div class="col-6 col-md-4">
		<label class="">Tipo</label>
		<select name="tipo" [(ngModel)]="usuario.tipo" class="form-control">
			<option [ngValue]="null">Select</option>
			<option value="PACIENTE">PRODUCCION</option>
			<option value="RECEPCIONISTA">RECEPCION</option>
			<option value="ADMIN">ADMIN</option>
		</select>
	</div>

	<div class="col-6 col-md-4">
		<label class="">Contrasena</label>
		<input type="text" name="contrasena" [(ngModel)]="usuario.contrasena" class="form-control">
	</div>
	<div class="col-6 col-md-4">
		<label class="">Telefono</label>
		<input type="text" name="telefono" [(ngModel)]="usuario.telefono" class="form-control">
	</div>
	<div class="col-6 col-md-4">
		<label class="">Correo electronico</label>
		<input type="text" name="correo_electronico" [(ngModel)]="usuario.correo_electronico" class="form-control">
	</div>


</div>

</div>
</form> -->

	<footer>
		<!-- <p>All right reserved. Template by: <a href="https://webthemez.com/admin-template/">WebThemez.com</a></p> -->
	</footer>
</div>
