<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ unidad_de_medida.id ? unidad_de_medida.nombre :'Agregar Unidad de Medida' |
            titlecase }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Unidades de Medida</li>
            <li class="breadcrumb-item active" aria-current="page">Agregar Unidad de Medida</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Información de la unidad</h6>
                </div>
                <div class="card-body">
                    <form ngNativeValidate (submit)="save()">
                        <div class="row">
                            <div class="form-group col-4">
                                <label for="nombre">Nombre</label>
                                <input id="nombre" placeholder="Ingrese nombre del cliente" name="nombre"
                                    [ngClass]="{'is-valid':unidad_de_medida.nombre,'form-control':unidad_de_medida }"
                                    type="text" [(ngModel)]="unidad_de_medida.nombre" required>
                            </div>
                            <div class="form-group col-4">
                                <label for="clave">Dirección</label>
                                <input id="clave" name="clave" type="text"
                                    placeholder="Ingrese clave del unidad_de_medida"
                                    [ngClass]="{'is-valid':unidad_de_medida.clave,'form-control':unidad_de_medida }"
                                    [(ngModel)]="unidad_de_medida.clave">
                            </div>
                            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                        </div>
                        <div class=" text-right">
                            <button type="submit" [disabled]="is_loading"
                                class="waves-effect waves-light btn-success btn icon-size-1 text-right"><i
                                    class="fa fa-save icon-size-1"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Row-->
        <!-- Documentation Link -->
        <div class="row">
            <div class="col-lg-12 text-center">
            </div>
        </div>
    </div>
</div>
