<nav class="col-md-2 d-none d-md-block bg-light sidebar">
	<div class="sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" routerLink="/registrar-camion" routerLinkActive="active">
					<span data-feather="home"></span>
					Dashboard <span class="sr-only">(current)</span>
				</a>
			</li>
			<a [routerLink]="['/list-bitacora']" routerlinkactive="active"><i class="fas fa-tools" aria-hidden="true"></i>bitacora</a>
<a [routerLink]="['/list-distribuidor']" routerlinkactive="active"><i class="fas fa-tools" aria-hidden="true"></i>distribuidor</a>
<a [routerLink]="['/list-file-type']" routerlinkactive="active"><i class="fas fa-tools" aria-hidden="true"></i>file_type</a>
<a [routerLink]="['/list-imagen']" routerlinkactive="active"><i class="fas fa-tools" aria-hidden="true"></i>imagen</a>
<a [routerLink]="['/list-imagen-usuario']" routerlinkactive="active"><i class="fas fa-tools" aria-hidden="true"></i>imagen_usuario</a>
<a [routerLink]="['/list-orden']" routerlinkactive="active"><i class="fas fa-tools" aria-hidden="true"></i>orden</a>
<a [routerLink]="['/list-organizacion']" routerlinkactive="active"><i class="fas fa-tools" aria-hidden="true"></i>organizacion</a>
<a [routerLink]="['/list-producto']" routerlinkactive="active"><i class="fas fa-tools" aria-hidden="true"></i>producto</a>
<a [routerLink]="['/list-producto-distribuidor']" routerlinkactive="active"><i class="fas fa-tools" aria-hidden="true"></i>producto_distribuidor</a>
<a [routerLink]="['/list-sesion']" routerlinkactive="active"><i class="fas fa-tools" aria-hidden="true"></i>sesion</a>
<a [routerLink]="['/list-sucursal']" routerlinkactive="active"><i class="fas fa-tools" aria-hidden="true"></i>sucursal</a>
<a [routerLink]="['/list-usuario']" routerlinkactive="active"><i class="fas fa-tools" aria-hidden="true"></i>usuario</a>

		</ul>

		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
			<span>Reportes Guardados</span>
			<a class="d-flex align-items-center text-muted" href="#">
				<span data-feather="plus-circle"></span>
			</a>
		</h6>

		<ul class="nav flex-column mb-2">
			<a [routerLink]="['/add-bitacora']" routerlinkactive="active"><i class="fas fa-plus" aria-hidden="true"></i>bitacora</a>
<a [routerLink]="['/add-distribuidor']" routerlinkactive="active"><i class="fas fa-plus" aria-hidden="true"></i>distribuidor</a>
<a [routerLink]="['/add-file-type']" routerlinkactive="active"><i class="fas fa-plus" aria-hidden="true"></i>file_type</a>
<a [routerLink]="['/add-imagen']" routerlinkactive="active"><i class="fas fa-plus" aria-hidden="true"></i>imagen</a>
<a [routerLink]="['/add-imagen-usuario']" routerlinkactive="active"><i class="fas fa-plus" aria-hidden="true"></i>imagen_usuario</a>
<a [routerLink]="['/add-orden']" routerlinkactive="active"><i class="fas fa-plus" aria-hidden="true"></i>orden</a>
<a [routerLink]="['/add-organizacion']" routerlinkactive="active"><i class="fas fa-plus" aria-hidden="true"></i>organizacion</a>
<a [routerLink]="['/add-producto']" routerlinkactive="active"><i class="fas fa-plus" aria-hidden="true"></i>producto</a>
<a [routerLink]="['/add-producto-distribuidor']" routerlinkactive="active"><i class="fas fa-plus" aria-hidden="true"></i>producto_distribuidor</a>
<a [routerLink]="['/add-sesion']" routerlinkactive="active"><i class="fas fa-plus" aria-hidden="true"></i>sesion</a>
<a [routerLink]="['/add-sucursal']" routerlinkactive="active"><i class="fas fa-plus" aria-hidden="true"></i>sucursal</a>
<a [routerLink]="['/add-usuario']" routerlinkactive="active"><i class="fas fa-plus" aria-hidden="true"></i>usuario</a>

		</ul>
	</div>
</nav>
