.background-color-blue{
    background-color: #f7fafc;
    height: 100vh;
}
.padding-top{
    padding-top: 60px !important;
}

.position{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
}

.z-100{

    z-index: 100 !important;
}
.z-1{

    z-index: 100 !important;
}
