<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ usuario.id ? usuario.nombre :'Agregar Usuario' | titlecase }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Usuarios</li>
            <li class="breadcrumb-item active" aria-current="page">Agregar Usuario</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Información del usuario</h6>
                </div>
                <div class="card-body">
                    <form ngNativeValidate (submit)="save()">
                        <div class="row">
                            <div class="form-group col-4">
                                <label for="usuario">Usuario</label>
                                <input id="usuario" placeholder="Ingrese su usuario" name="usuario"
                                    [ngClass]="{'is-valid':usuario.usuario,'form-control':usuario }" type="text"
                                    [(ngModel)]="usuario.usuario" required>
                            </div>
                            <div class="form-group col-4">
                                <label for="contrasena">Contraseña</label>
                                <input id="contrasena" name="contrasena" placeholder="Ingrese su contraseña" type="text"
                                    [ngClass]="{'is-valid':usuario.contrasena,'form-control':usuario }"
                                    [(ngModel)]="usuario.contrasena" required>
                            </div>
                            <div class="form-group col-4">
                                <label for="exampleFormControlSelect1">Tipo</label>
                                <select class="form-control" id="exampleFormControlSelect1"
                                    [(ngModel)]="usuario.tipo_de_usuario" required>
                                    <option value="null" hidden>Seleccione un tipo de usuario</option>
                                    <option value="'VENTAS'">VENDEDOR</option>
                                    <option value="'ADMINISTRADOR'">ADMINISTRADOR</option>

                                </select>
                            </div>
                            <div class="form-group col-4">
                                <label for="nombre">Nombre</label>
                                <input id="nombre" type="text" placeholder="Ingrese su nombre" name="nombre"
                                    [ngClass]="{'is-valid':usuario.nombre,'form-control':usuario }"
                                    [(ngModel)]="usuario.nombre">
                            </div>
                            <div class="form-group col-4">
                                <label for="apellido_paterno">Apellido Paterno</label>
                                <input id="apellido_paterno" type="text" placeholder="Ingrese su apellido paterno"
                                    name="apellido_paterno"
                                    [ngClass]="{'is-valid':usuario.apellido_paterno,'form-control':usuario }"
                                    [(ngModel)]="usuario.apellido_paterno">
                            </div>
                            <div class="form-group col-4">
                                <label for="apellido_materno">Apellido Materno</label>
                                <input id="apellido_materno" type="text" placeholder="Ingrese su materno"
                                    name="apellido_materno"
                                    [ngClass]="{'is-valid':usuario.apellido_materno,'form-control':usuario }"
                                    [(ngModel)]="usuario.apellido_materno">
                            </div>
                            <div class=" form-group col-6">
                                <label for="correo_electronico">Correo Electronico</label>
                                <input id="correo_electronico" placeholder="Ingrese su correo" name="correo_electronico"
                                    type="text"
                                    [ngClass]="{'is-valid':usuario.correo_electronico,'form-control':usuario }"
                                    [(ngModel)]="usuario.correo_electronico">

                            </div>
                            <div class=" form-group col-6">
                                <label for="telefono">Teléfono</label>
                                <input id="telefono" placeholder="Ingrese su telefono" name="telefono" type="text"
                                    [ngClass]="{'is-valid':usuario.telefono,'form-control':usuario }"
                                    [(ngModel)]="usuario.telefono">
                            </div>



                            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                        </div>
                        <div class=" text-right">
                            <button type="submit" [disabled]="is_loading"
                                class="waves-effect waves-light btn-success btn icon-size-1 text-right"><i
                                    class="fa fa-save icon-size-1"></i> Guardar</button>

                        </div>
                    </form>


                </div>
            </div>
        </div>



        <!--Row-->

        <!-- Documentation Link -->
        <div class="row">
            <div class="col-lg-12 text-center">

            </div>
        </div>

    </div>
</div>
