<div class="card rounded p-2">

	<div class="header-body mb-3">
		<div class="row align-items-end">
			<div class="col">
				<h3 class="header-title"> {{ 'producto' | titlecase }}</h3>
			</div>
			<div class="col-auto">
				<button type="button" class="mr-2 btn btn-primary rounded lift" (click)="show_import=true">Importar</button>
				<button type="button" class="mr-2 btn btn-primary rounded lift" (click)="exportFile()">Exportar</button>
				<button type="button" class="ml-2 btn btn-primary rounded lift" [routerLink]="['/add-producto']"> Add producto</button>
			</div>
		</div>
	</div>

	<div  class="mt-3">
		<div>
			<div class="row">
				<div class="col-6 col-md-3 form-group">
					<label class="">Estatus</label>
					<select name="estatus" [(ngModel)]="producto_search.eq.estatus" class="form-control">
						<option [ngValue]="null">Select</option>
						<option value="ACTIVO">ACTIVO</option>
						<option value="ELIMINADO">ELIMINADO</option>
					</select>
				</div>
				<div class="col-6 col-md-3 form-group">
					<label class="">Nombre</label>
					<input type="text" name="nombre" [(ngModel)]="producto_search.lk.nombre" class="form-control">
				</div>
				<div class="col-6 col-md-3 form-group">
					<label class="">Codigo</label>
					<input type="text" name="codigo" [(ngModel)]="producto_search.lk.codigo" class="form-control">
				</div>
				<div class="col-6 col-md-3 form-group">
					<label class="">Ramos por caja</label>
					<input type="number" name="ramos_por_caja" [(ngModel)]="producto_search.eq.ramos_por_caja" class="form-control">
				</div>
				<div class="col-6 col-md-3 form-group">
					<label class="">Descripcion</label>
					<input type="text" class="form-control" name="descripcion" [(ngModel)]="producto_search.lk.descripcion">
				</div>
				<div class="col-6 col-md-3">
					<label>&nbsp;</label>
					<button type="button" class="w-100 btn btn-primary" (click)="search()">Buscar</button>
				</div>
			</div>
		</div>

		<app-loading [is_loading]="is_loading"></app-loading>
		<div class="table-responsive">
			<table class="table table-sm table-nowrap mb-0 table-bordered table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>BOM</th>
						<th>Ramos por caja</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let producto of producto_list">
						<td><a [routerLink]="['/edit-producto',producto.producto.id]">{{producto.producto.id}}</a></td>
						<td>{{producto.producto.nombre}}</td>
						<td>{{producto.producto.codigo}}</td>
						<td>{{producto.producto.ramos_por_caja}}</td>
						<td>
							<button type="button" class="mx-1 btn btn-primary" (click)="mostrarModalDeCopiar(producto)"><i class="fas fa-copy"></i></button>
							<button type="button" class="mx-1 btn btn-primary" [routerLink]="['/edit-producto',producto.producto.id]"><i class="fas fa-edit"></i></button>
						</td>
					</tr>
					<tr *ngIf="producto_list == null || producto_list.length == 0 && !is_loading" >
						<td colspan="5"><div class="alert alert-light m-3" role="alert">No elements found</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<app-pagination [path]="'/list-producto'" [pages]="pages" [totalPages]="totalPages" [currentPage]="currentPage"></app-pagination>
</div>
<app-modal [(show)]="show_import">
    <div class="card p-3">
        <h2>Import excel</h2>
        <div class="from-group mb-3">
            <label>Excel data</label>
            <input name="file" type="file" (change)="onFileChanged($event)" accept="*/*" class="form-control">
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <button type="button" class="btn btn-primary rounded w-100" (click)="show_import=false">Cancel</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary rounded w-100" (click)="uploadFile()" [disabled]="file==null">Upload</button>
            </div>
        </div>
    </div>
</app-modal>

<app-modal [(show)]="show_copiar_producto">
	<form name="forma_copiar_producto" (submit)="copiar($event)" ngNativeValidate>
    	<div class="card p-3">
    	    <h2>Copiar Producto</h2>
    	    <div class="from-group mb-3">
    	        <label>Nombre</label>
    	        <input name="nuevo_nombre" type="text" class="form-control" [(ngModel)]="nuevo_nombre" required>
    	    </div>

    	    <div class="from-group mb-3">
    	        <label>Codigo</label>
    	        <input name="nuevo_codigo" type="text" class="form-control" [(ngModel)]="nuevo_codigo" required>
    	    </div>

    	    <div class="row mt-3">
    	        <div class="col-6">
    	            <button type="button" class="btn btn-primary rounded w-100" (click)="show_copiar_producto=false">Cancel</button>
    	        </div>
    	        <div class="col-6">
    	            <button type="submit" class="btn btn-primary rounded w-100" [disabled]="is_loading">Copiar</button>
    	        </div>
    	    </div>
    	</div>
	</form>
</app-modal>
