<!-- <h2>Grafica para toma de deciciones</h2> -->
<div class="row">
	<div class="col-4"></div>
	<div class="col-4"></div>
	<div class="col-4"></div>
</div>
<div class="row">
	<div class="col-3"></div>
	<div class="col-3"></div>
	<div class="col-3"></div>
	<div class="col-3"></div>
</div>
<div class="row w-100">
	<div class="col-3 card">
		<h2>Top clientes</h2>
        <!-- <div class="w-100" style="height:400px;max-width:200px;">
		    <ngx-charts-bar-vertical
		    		[scheme]="topClientesGraph.scheme"
		    		[results]="topClientesGraph.results"
		    		[gradient]="topClientesGraph.gradient"
		    		[xAxis]="topClientesGraph.xAxis"
		    		[yAxis]="topClientesGraph.yAxis"
		    		[legend]="topClientesGraph.legend"
		    		[showXAxisLabel]="topClientesGraph.showXAxisLabel"
		    		[showYAxisLabel]="topClientesGraph.showYAxisLabel"
		    		[xAxisLabel]="topClientesGraph.xAxisLabel"
		    		[yAxisLabel]="topClientesGraph.yAxisLabel">
		    </ngx-charts-bar-vertical>
        </div> -->
	</div>

	<div class="col-6 card">
		<div>
			<h2>Ramos Mas vendidos</h2>
			<!-- <div style="height:300px;">
				<ngx-charts-bar-vertical
					[scheme]="topRamosGraph.scheme"
					[results]="topRamosGraph.results"
					[gradient]="topRamosGraph.gradient"
					[xAxis]="topRamosGraph.xAxis"
					[yAxis]="topRamosGraph.yAxis"
					[legend]="topRamosGraph.legend"
					[showXAxisLabel]="topRamosGraph.showXAxisLabel"
					[showYAxisLabel]="topRamosGraph.showYAxisLabel"
					[xAxisLabel]="topRamosGraph.xAxisLabel"
					[yAxisLabel]="topRamosGraph.yAxisLabel">
				</ngx-charts-bar-vertical> -->
				<!--
					[scheme]="mejoresClientes.colorScheme"
					[gradient]="mejoresClientes.gradient"
					[legend]="mejoresClientes.legend"
					https://stackblitz.com/edit/swimlane-pie-chart
					(select)="onSelect($event)"
					(activate)="onActivate($event)"
					(deactivate)="onDeactivate($event)"
				-->
			</div>
		</div>
	</div>
	<div class="col-3 card">
		<div>
			<!-- <h2>Articulos más vendidos</h2>
			<div style="height:300px;">
				<ngx-charts-pie-chart
					[view]="topProductosGraph.view"
					[scheme]="topProductosGraph.scheme"
					[results]="topProductosGraph.results"
					[gradient]="topProductosGraph.gradient"
					[legend]="topProductosGraph.legend"
					[legendPosition]="topProductosGraph.legendPosition"
					[labels]="topProductosGraph.labels"
					[doughnut]="topProductosGraph.doughnut">
				</ngx-charts-pie-chart>
			</div>
		</div> -->

		<!-- <div>
			<h2>Articulos menos vendidos</h2>
		</div>

		<div>
			<h2>Mejores Clientes</h2>
		</div> -->
	</div>
</div>
<div class="row w-100">
	<div class="col-3 card">
		<!-- <h2>Top clientes</h2> -->

	</div>

	<div class="col-6 card">
		<div>
			<!-- <h2>Top Productores</h2>
			<div style="height:300px;">
				<ngx-charts-bar-vertical
					[scheme]="topProductoresGraph.scheme"
					[results]="topProductoresGraph.results"
					[gradient]="topProductoresGraph.gradient"
					[xAxis]="topProductoresGraph.xAxis"
					[yAxis]="topProductoresGraph.yAxis"
					[legend]="topProductoresGraph.legend"
					[showXAxisLabel]="topProductoresGraph.showXAxisLabel"
					[showYAxisLabel]="topProductoresGraph.showYAxisLabel"
					[xAxisLabel]="topProductoresGraph.xAxisLabel"
					[yAxisLabel]="topProductoresGraph.yAxisLabel">
				</ngx-charts-bar-vertical> -->
				<!--
					[scheme]="mejoresClientes.colorScheme"
					[gradient]="mejoresClientes.gradient"
					[legend]="mejoresClientes.legend"
					https://stackblitz.com/edit/swimlane-pie-chart
					(select)="onSelect($event)"
					(activate)="onActivate($event)"
					(deactivate)="onDeactivate($event)"
				-->
			<!-- </div> -->
		</div>
	</div>
	<div class="col-3 card">
		<div>
			<!-- <h2>Articulos más vendidos</h2> -->

		</div>
	</div>
</div>
